@page "/standDetails"
@layout AdminPanelLayout
@inject DialogService DialogService
@inject HttpClient _httpClient


@using Radzen
@using Radzen.Blazor
@using IotRemoteLab.Domain.Stand
@using static IotRemoteLab.Blazor.Pages.AdminPanel.Stand.AddStand
@using static IotRemoteLab.Blazor.Pages.AdminPanel.Stand.ListStand
@using System.Collections

<h3>StandDetailsCard</h3>

<p>@id</p>
<p>@mcuname</p>

@code {
    [Parameter]
    public Guid id { get; set; }

    [Parameter]
    public string mcuname { get; set; }

    private Stand _stand = new();

    async void LoadData()
    {
        // _stand = await _httpClient.GetFromJsonAsync<List<Stand>>("/api/Stands");

        await InvokeAsync(StateHasChanged);
    }
}