@page "/benchForm"
@layout AdminPanelLayout
@inject DialogService DialogService

@using Radzen
@using Radzen.Blazor
@using IotRemoteLab.Domain.Stand.Benchboards
@using IotRemoteLab.Domain.Stand
@using static IotRemoteLab.Blazor.Pages.AdminPanel.AddStand
@using System.Collections

<h3>NewBenchForm</h3>

<RadzenTemplateForm Data="@_bench">

    <RadzenFieldset Text="Создание стендовой платы">

        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Название стендовой платы" Component="StandName" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenTextBox Name="StandName" @bind-Value="@_bench.Name" Style="width: 100%; max-width: 500px;" Change=@(args => BenchNameTextBoxChanged(args)) />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Порт" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDropDown Data="@ports" TextProperty="McuPort" ValueProperty="McuPort" Name="McuPort" @bind-Value=@selectedPort.McuPort Style="width: 100%; max-width: 500px;"></RadzenDropDown>
            </RadzenColumn>
        </RadzenRow>

    </RadzenFieldset>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
        <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Save" Click="@Submit" />
    </RadzenStack>
</RadzenTemplateForm>

@code {
    private Benchboard _bench = new();

    void BenchNameTextBoxChanged(string newValue)
    {
        _bench.Name = newValue;
    }

    private BenchboardPort selectedPort = new() { McuPort = "port0" };
    public List<BenchboardPort> ports = new()
    {
        new BenchboardPort() {McuPort = "port1"},
        new BenchboardPort() {McuPort = "port2"},
        new BenchboardPort() {McuPort = "port3"}
    };

    void Submit()
    {
        stendPl.Add(_bench);
    }

    void Cancel()
    {
        //
    }
}
