@using IotRemoteLab.Application.User.Dtos
@using IotRemoteLab.Blazor.Models
@using IotRemoteLab.Blazor.Services
@using System.Text.RegularExpressions

@layout AuthorizationLayout
@page "/login"

<div class="authContainer">
	<div class="authWrapper">
		<div class="authHeader">
			<h1 class="projectName">Iot Remote Laboratory</h1>
			<div class="authTitleWrapper">
				<span class="authTitle">Log In</span>
				<span class="authDescription">Welcome back! Please enter your details.</span>
			</div>
		</div>

		<EditForm class="authForm" Model="@data" OnSubmit="Submit">
			<DataAnnotationsValidator />

			<div class="authFormField">
				<label class="fieldLabel">Login</label>
				<InputText class="authInput" id="email" @bind-Value="data.Email" />
				<ValidationMessage For="@(() => data.Email)" />
			</div>

			<div class="authFormField">
				<label class="fieldLabel">Password</label>
				<InputText class="authInput" id="email" @bind-Value="data.Password" />
				<ValidationMessage For="@(() => data.Password)" />
			</div>

			<div class="rememberWrapper">
				<div class="checkboxWrapper">
					<input type="checkbox" class="rememberChekbox" id="logCheck">
					<label for="logCheck" class="text">Remember me</label>
				</div>
				<a href="#" class="link">Forgot password?</a>
			</div>

			<button class="signinBtn" type="submit">Sign In</button>
			<button class="signinBtn blank" type="submit">Sign In with Urfu</button>

			<div class="signupWrapper">
				<span class="text">Not a member?</span>
				<a href="#" class="link">Create an account</a>
			</div>

		</EditForm>
	</div>
</div>


@code {
	private AuthorizationUserData data = new();

	[Inject]
	private IAuthService _authService { get; set; } 

	async void Submit()
	{
		var response = _authService.Login(Regex.Replace(data.Email, @"\s+", ""), data.Password);
	}
}