@page "/login" 
@layout AuthorizationLayout

<div class="authorization">
    <div class="login-field">
        <h3 class="iot-remote-laboratory">Iot Remote Laboratory</h3>
        <form class="login-form">
            <div class="header">
                <h1 class="log-in">Log In</h1>
                <div class="welcome-back-please">
                    Welcome back! Please enter your details.
                </div>
            </div>
            <div class="labled-textbox">
                <b class="label">Login</b>
                <input class="textbox" placeholder="" type="text" />
            </div>
            <div class="labled-textbox1">
                <b class="label1">Password</b>
                <input class="textbox1" placeholder="" type="text" />
            </div>
            <div class="addtional-funcs">
                <div class="combobox">
                    <input class="bullet" checked="{true}" type="checkbox" />

                    <div class="this-is-check">This is check box</div>
                </div>
                <div class="forgot-password">Forgot Password</div>
            </div>
            <button class="button-sing-in">
                <div class="sing-in">Sing In</div>
            </button>
            <button class="ghost-button">
                <img class="all-iconsadd" alt="" src="./public/all-iconsadd.svg" />

                <div class="content">Sign In with Urfu</div>
            </button>
            <div class="dont-have-an-container" id="dontHaveAn">
                <span class="dont-have-an">Don’t have an account? </span>
                <span class="create-an-account">Create an account</span>
            </div>
        </form>
    </div>
    <img class="login-field-icon" loading="lazy" alt="" src="./public/login-field.svg" />
</div>



@code {

}
