@page "/login" 
@layout AuthorizationLayout

<div class="authorization">
    <div class="login-field">
        <div class="logoname">
            <b class="iot-remote-laboratory">Iot Remote Laboratory</b>
        </div>
        <div class="login-form">
            <div class="header">
                <b class="log-in">Log In</b>
                <div class="welcome-back-please">
                    Welcome back! Please enter your details.
                </div>
            </div>
            <div class="labled-textbox">
                <b class="label">Login</b>
                <input class="textbox">
                <div class="your-login-here"></div>
            </div>
            <div class="labled-textbox">
                <b class="label">Password</b>
                <input class="textbox">
                <div class="log-in"></div>
            </div>
            <div class="addtional-funcs">
                <div class="combobox">
                    <img class="bullet-icon" alt="" src="./public/checkbox.png" />

                    <checkbox class="your-login-here">This is check box</checkbox>
                </div>
                <div class="forgot-password">Forgot Password</div>
            </div>
            <div class="button-sing-in">
                <div class="log-in">Sing In</div>
            </div>
            <div class="ghost-button">
                <img class="all-iconsadd" alt="" src="./public/all-iconsadd.svg" />

                <div class="log-in">Sign In with Urfu</div>
            </div>
            <div class="dont-have-an-container" id="dontHaveAn">
                <span>Don’t have an account? </span>
                <span class="create-an-account">Create an account</span>
            </div>
        </div>
    </div>
    <img class="login-field-icon" alt="" src="./public/login-field.svg" />
</div>



@code {

}
