@layout AuthorizationLayout
@page "/signup"

<div class="authContainer">
	<div class="authWrapper">

		<div class="authHeader">
			<h1 class="projectName">Iot Remote Laboratory</h1>
			<div class="authTitleWrapper">
				<span class="authTitle">Log In</span>
				<span class="authDescription">Welcome back! Please enter your details.</span>
			</div>
		</div>

		<form class="authForm">
			<div class="authFormField">
				<label class="fieldLabel">Email</label>
				<input class="authInput" type="text" />

			</div>

			<div class="authFormField">
				<label class="fieldLabel">Login</label>
				<input class="authInput" type="text" />
			</div>

			<div class="authFormField">
				<label class="fieldLabel">Password</label>
				<input class="authInput" type="text" />
			</div>

			<button class="signinBtn" type="submit">Create account</button>

			<div class="signupWrapper">
				<span class="text">Already have an account?</span>
				<a href="#" class="link">Log In</a>
			</div>
		</form>
	</div>
</div>

@code {

}
