@* <Form> *@
@*     <Form @ref="_form" Model="@Model" ValidateOnChange="true"> *@
@*         <DataAnnotationsValidator /> *@

@*         <IotFormGroup Bordered="false"> *@
@*             <IotFormItem Label="Email" ValidationFor="(() => context.Email)" DirectionColumn Required> *@
@*                 <Input @bind-Value="@context.Email" /> *@
@*             </IotFormItem> *@

@*             <IotFormItem Label="Password" ValidationFor="(() => context.Password)" DirectionColumn Required> *@
@*                 <InputPassword @bind-Value="@context.Password" /> *@
@*             </IotFormItem> *@
@*         </IotFormGroup> *@
@*     </Form> *@
@* </Form> *@

@code {
    // class Appointment 
    // {
    //     public 
    // }
}
