@using IotRemoteLab.Blazor.Services.LocalStorage
    
@page "/profile"


<style>
    .profile {
        max-height: 100%;
        height: 100%;
    }

    .content {
        width: 100%;
        height: 100%;
    }
</style>


<div class="profile">
    <div class="accountBioAccountHeader">
        <div class="leftContent">
            <img src="" class="profilePic">
            <div class="profileInfo">
                <span class="welcomeTitle">Добро пожаловать, <span class="userName">@($"{_user.FirstName} {_user.MiddleName}")</span></span>
                <ul class="userInfo">
                    <li class="group">
                        <span>Ваша группа:</span>
                        <span class="value">@_user.GroupNumber</span>
                    </li>
                    <li class="role">
                        <span>Ваша роль:</span>
                        <span class="value">Студент</span>
                    </li>
                    <li class="mailContact">
                        <span>Почта:</span>
                        <span class="value">@_user.Email</span>
                    </li>
                </ul>
            </div>
        </div>
        <button class="changeBtn">
            <img class="all-iconssettings" alt="" src="./src/Settings.svg" />
            <span class="BtnText">Изменить данные профиля</span>
        </button>
    </div>

    <div class="bottomContentWrapper">
        <div class="listContentWrapper">
            <h2 class="listTitle">Ваша команда</h2>
            <ul class="list">
                <li class="card">
                    <img class="avatar" src="./src/avatar.svg" />
                    <div class="info">
                        <span class="name">Шапошников Игорь Викторович</span>
                        <span class="">РИ-310949</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="listContentWrapper">
            <h2 class="listTitle">Список стендов</h2>
            <div class="listWrapper">
                <span class="available">Доступные стенды</span>
                <ul class="list">
                    <li class="card">
                        <img class="avatar" src="./src/avatar.svg" />
                        <div class="info">
                            <span class="name">Название стенда</span>
                            <span class="">Доступ до 13:00 28.09.2024</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="listWrapper">
                <span class="available">Недоступные стенды</span>
                <ul class="list">
                    <li class="card">
                        <img class="avatar" src="./src/avatar.svg" />
                        <div class="info">
                            <span class="name">Название стенда</span>
                            <span class="">Доступ до 13:00 28.09.2024</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


@code
{
    [Inject]
    private HttpClient _httpClient { get; set; }

    class User
    {
        public Guid Id { get; set; }
        public string Email { get; set; }
        public string FirstName { get; set; }
        public string? Surname { get; set; }
        public string? MiddleName { get; set; }
        public string? GroupNumber { get; set; }
    }

    private User _user = new User()
        {
            Id = Guid.NewGuid(),
            Email = "Igor.Shaposhnikov@urfu.me",
            FirstName = "Игорь",
            MiddleName = "Викторович",
            Surname = "Шапошников",
            GroupNumber = "РИ-310949"
        };


    protected async override void OnInitialized()
    {
        base.OnInitialized();
    }
}