.stand-workflow {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #2C2C2C;
}

.stand-workflow__left {
    background: #333;
    flex: 0 0 35%;
    margin-right: 16px;
}

@media (max-width: 1199px) {
    .stand-workflow__left {
        flex: 0 0 100%;
        margin-right: 0;
    }
}

.stand-workflow__right {
    background: #333;
    flex: 0 0 calc(65% - 16px);
}

@media (max-width: 1199px) {
    .stand-workflow__right {
        flex: 0 0 100%;
    }
}

.workflow-box {
    height: 100vh;
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
}

.workflow-box__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}


.workflow-box__title {
    flex: 1 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: white;
}

.workflow-box__combobox {
    flex: 0 0 200px;
    color: white;
}

.workflow-box__item {
    margin-bottom: 10px;
    background: #2C2C2C;
    border: 1px solid #1E1E1E;
    padding: 16px;
    flex: 0 0 auto;
}

    .workflow-box__item.-stretch {
        flex: 1 0 0;
    }

    .workflow-box__item:last-child {
        margin-bottom: 0;
    }

.stream-frame {
    height: 200px;
    background: var(--font-color-active);
}

.controls-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 32px;
}

.controls-list__item {
}

.stream-frame {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background: #1e1e1e;
}

    .stream-frame span {
        color: white;
    }

.workflow-box-grid {
    display: grid;
    grid-auto-flow: row;
    margin-right: 16px;
}

.workflow-box-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px 16px;
    margin: 0 0 16px 0;
    flex-wrap: wrap;
    max-width: 500px;
}

.workflow-box-leds {
    display: flex;
    gap: 8px 16px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
}

.stand-led {
    display: flex;
    margin: 0 8px 0 0;
}

.stand-led__light {
    border-radius: 100%;
    background: gray;
    height: 20px;
    width: 20px;
    margin: 0 8px 0 0;
}

    .stand-led__light.-enable {
        background: green;
    }

    .stand-led__name {
        color: white;
    }

.mcu__button {
    padding: 4px;
}