@using IotRemoteLab.Blazor.Services
@inherits Component

@inject JanusWebRtcService _janusWebRtcService;

<style>
    .unactive {
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        background: #1e1e1e;
    }

        .unactive span {
            color: white;
        }
</style>

<div id="@(Name ?? GetId())" class="video-block">
    <div class="video-block_player">
        <button id="watch" @onclick=StartStream>Start</button>
        <button @onclick=StopStream>Stop</button>

        <div class="container" id="stream">

@*             <div class="row hide" id="info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i></h3>
                    </div>
                    <div class="panel-body">
                        <pre id="metadata" style="word-break: break-word;"></pre>
                    </div>
                </div>
            </div> *@
            <div id="videos">
@*                 @if (!_isStreamActive)
                {
                    <div class="unactive">
                        <span>Трансляция неактивна.</span>
                    </div>
                } *@
            </div>
        </div>
    </div>
</div>