@page "/ListTeam"

@using System.ComponentModel.DataAnnotations
@using System.Text.Json;
@using IotRemoteLab.Common.Components.Form
@using IotRemoteLab.Domain
@using IotRemoteLab.Domain.Role


@inject ModalService _modalService
@inject ConfirmService ComfirmService;
@inject HttpClient _httpClient

<h1>List groups</h1>

<Table @ref="_groupTable" TItem="Team" PageSize="5" Total="_total" DataSource="_teams" @bind-SelectedRows="_selectedRows">
    <PropertyColumn Property="c=>c.Id">
        <a>@context.Name</a>
    </PropertyColumn>
    <PropertyColumn Property="c=>c.Name">
        <a>@context.Name</a>
    </PropertyColumn>
    <PropertyColumn Property="c=>c.Members">
        @foreach (var user in context.Members)
        {
            var color = user.Name.Length > 5 ? "geekblue" : "green";
            <Tag Color="@color">@user.Name</Tag>
        }
    </PropertyColumn>
</Table>


@code
{
    ITable _groupTable;
    List<Team> _teams = new List<Team>
    {
        new Team { Id = Guid.NewGuid(), Name = "1", Members = new List<User> { new User { Id = Guid.NewGuid(), Email ="0", PasswordHash = "0", Name = "Name1", Surname = "0", Roles = new List<Role> { } } } },
        new Team { Id = Guid.NewGuid(), Name = "1", Members = new List<User> { new User { Id = Guid.NewGuid(), Email ="1", PasswordHash = "1", Name = "Name222", Surname = "1", Roles = new List<Role> { } } } },
        new Team { Id = Guid.NewGuid(), Name = "1", Members = new List<User> { new User { Id = Guid.NewGuid(), Email ="2", PasswordHash = "2", Name = "Name33", Surname = "2", Roles = new List<Role> { } } } },
    };
    List<Team> mockDb = new();
    IEnumerable<Team> _selectedRows = [];

    int _total;

    protected override void OnInitialized()
    {
        mockDb = Enumerable.Range(0, _teams.Count).Select(i => _teams[i]).ToList();
    }
}