﻿@page "/addUser"
@layout AdminPanelLayout
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject HttpClient _httpClient

@using Radzen



<h3>NewUserForm</h3>

@code {

}