@layout BlankLayout

<div class="sideBar">
    <div class="topContent">
        <div class="header">
            <div class="logo">
                <img class="logoIcon" src="./src/logo.svg" />
                <h3 class="logoText">Untitled</h3>
            </div>
            <div>
                <input type="checkbox" id="burgerCheckbox" class="burgerCheckbox">
                <label class="burger" for="burgerCheckbox"></label>
            </div>

        </div>

        <div class="searchField">
            <img class="searchIcon" alt="" src="./src/search.svg" />
            <input class="search" placeholder="Search" type="text" />
        </div>

        <ul class="menuList">
            <li class="menuUpItems">
                <img class="homeIcon" loading="lazy" alt="" src="./src/home.svg" />
                <p class="home">Home</p>
            </li>
            <li class="menuUpItems">
                <img class="dashIcon" loading="lazy" alt="" src="./src/dashboard.svg" />
                <p class="dash">Dashboard</p>
            </li>
            <li class="menuUpItems">
                <img class="projIcon" loading="lazy" alt="" src="./src/projects.svg" />
                <p class="proj">Projects</p>
            </li>
            <li class="menuUpItems">
                <img class="tasksIcon" loading="lazy" alt="" src="./src/tasks.svg" />
                <p class="tasks">Tasks</p>
            </li>
            <li class="menuUpItems">
                <img class="reportIcon" loading="lazy" alt="" src="./src/reporting.svg" />
                <p class="report">Reporting</p>
            </li>
        </ul>
    </div>

    <div class="bottomContent">
        <ul class="menuList">
            <li class="menuDownItems notice">
                <div class="alertWrapper">
                    <img class="bellIcon" loading="lazy" alt="" src="./src/notification.svg" />
                    <p class="notif">Notifications</p>
                </div>
                <div class="alert">
                    <span>12</span>
                </div>
            </li>
            <li class="menuDownItems">
                <img class="supportIcon" loading="lazy" alt="" src="./src/suport.svg" />
                <p class="support">Support</p>
            </li>
            <li class="menuDownItems">
                <img class="settingsIcon" loading="lazy" alt="" src="./src/settingsWhite.svg" />
                <p class="settings">Settings</p>
            </li>
        </ul>

        <div class="profileWidget">
            <div class="profile">
                <img class="avatar" src="./src/avatar.svg" />
                <div class="textContent">
                    <span class="brooklynSimmons">Brooklyn Simmons</span>
                    <span class="brooklynSimmonsCom">brooklyn@simmons.com</span>
                </div>
            </div>

            <img class="moreVerticalIcon" loading="lazy" alt="" src="./src/more-vertical.svg" />
        </div>
    </div>
</div>

@code {

}
